@{
    ViewData["Title"] = "Location";
}

<h1>Location</h1>

<div class="row">
    <div class="col-md-12">
        <p>We'll check which of your <strong>favourite musicians</strong> are <strong>playing in your area</strong>.</p>
        <form method="get" asp-controller="Spotkick" asp-action="Selection">
            <label>
                Select your area:
                <select name="city">
                    <option value="Bristol, UK">Bristol</option>
                    <option value="Bath, UK">Bath</option>
                    <option value="London, UK">London</option>
                    <option value="Cardiff, UK">Cardiff</option>
                    <option value="Dublin, Ireland">Dublin</option>
                </select>
            </label>
            <input type="submit" value="Next" class="btn btn-info"/>
        </form>
    </div>
</div>