@{
    ViewData["Title"] = "Playlist";

    var playlist = (Playlist) ViewData["Playlist"];
}

<div class="row">
    <div class="col-md-12">
        <h2>We have created a playlist in your Spotify account named @playlist.Name</h2>
    </div>
</div>