@{
    ViewData["Title"] = "Spotify Discovery";
    var user = (User) @ViewData["User"];
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome @user.DisplayName</h2>
        <p>To get started we'll need to discover which Artists you follow on Spotify.</p>
        <form method="get" asp-controller="Spotkick" asp-action="Events">
            <input hidden name="userId" value="@user.Id"/>
            <input type="submit" name="sync" value="Start Discovery" class="btn btn-info"/>
        </form>
    </div>
</div>