@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2>Tracks</h2>
        <select multiple>
            @foreach (var track in (List<Track>) ViewData["TopTracks"])
            {
                <option value="@track.Id">@track.Name</option>
            }
        </select>
    </div>
    <div class="col-md-4">
    </div>
</div>
